:root {
    --text-color: #333;
    --black-color: #000;
    --purple-color: #a84cb8;
    --gray-color: #8a8a8a;

    --bulma-success-color: #48c774;
    --bulma-info-color: #209cee;
    --bulma-warning-color: #ffdd57;
    --bulma-danger-color: #ff3860;
    --bulma-primary-color: #00d1b2;
    --bulma-dark-color: #363636;
    --bulma-light-color: #f5f5f5;
    --bulma-link-color: #3273dc;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    background-color: #eeeeee;
    position: relative;
}

p {
    font-size: 1.6rem;
}

.text-center {
    text-align: center !important;
}

.background-primary {
    background-color: var(--bulma-primary-color) !important;
}

.background-info {
    background-color: var(--bulma-info-color) !important;
}

.background-warning {
    background-color: var(--bulma-warning-color) !important;
}

.background-danger {
    background-color: var(--bulma-danger-color) !important;
}

.background-success {
    background-color: var(--bulma-success-color) !important;
}

.color-primary {
    color: var(--bulma-primary-color) !important;
}

.color-info {
    color: var(--bulma-info-color) !important;
}

.color-warning {
    color: var(--bulma-warning-color) !important;
}

.color-danger {
    color: var(--bulma-danger-color) !important;
}

.color-success {
    color: var(--bulma-success-color) !important;
}

.border-primary {
    border-color: var(--bulma-primary-color) !important;
}

.border-info {
    border-color: var(--bulma-info-color) !important;
}

.border-warning {
    border-color: var(--bulma-warning-color) !important;
}

.border-danger {
    border-color: var(--bulma-danger-color) !important;
}

.border-success {
    border-color: var(--bulma-success-color) !important;
}

.d-none {
    display: none !important;
}

.content {
    display: flex;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* Aside CSS */
#aside {
    background-color: var(--bulma-primary-color);
    width: 300px;
    height: 100%;
    padding: 3.5rem 0;
    position: fixed;
}

#aside .info img, #aside-toggle .info img {
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: var(--bulma-light-color) 2px solid;
}

#aside .social-list ul, #aside-toggle .social-list ul {
    display: flex;
    justify-content: center;
    padding: 2rem 5rem;
}

#aside .social-list ul li, #aside-toggle .social-list ul li {
    list-style-type: none;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    margin: 0 5px;
}

#aside .social-list ul li:hover, #aside-toggle .social-list ul li:hover {
    background-color: rgba(255,255,255,0.8);;
}

#aside .social-list ul li a, #aside-toggle .social-list ul li a {
    font-size: 2rem;
    padding-left: 2px;
    padding-top: 2px;
    line-height: 35px;
    color: var(--bulma-primary-color);
}

#aside .menu ul, #aside-toggle .menu ul {
    padding: 0;
    padding-top: 2rem;
}

#aside .menu li, #aside-toggle .menu li {
    list-style-type: none;
    margin: 2rem 0;
    cursor: pointer;
}

#aside .menu li a, #aside-toggle .menu li a {
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
    color: var(--text-color);
}

#aside .menu li a::after, #aside-toggle .menu li a::after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bulma-link-color);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#aside .menu li:hover a, #aside .menu li.active a, #aside-toggle .menu li:hover a, #aside-toggle .menu li.active a{
    font-weight: 400;
}

#aside .menu li:hover a::after, #aside-toggle .menu li:hover a::after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#aside .menu li.active, #aside-toggle .menu li.active {
    color: var(--green-color);
}

#aside .menu li.active a::after, #aside-toggle .menu li.active a::after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

/* Aside Toggle CSS */
#aside-toggle {
    display: none;
    background-color: var(--bulma-primary-color);
    width: 100%;
    height: 100%;
    padding: 3.5rem 0;
    position: fixed;
    z-index: 2;
}

.toggle-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 2px;
    font-size: 3rem;
    cursor: pointer;
    z-index: 3;
}
/* Main CSS */

#main {
    width: 100%;
    padding: 5rem 1rem 5rem 35rem;
}

#main .info {
    margin: 5rem 0;
}

#main .info h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
    padding: 1rem 0;
}

#main .info p {
    padding: 4px;
}

#main #about {
    margin: 5rem 0;
}

#main #about .info h1 {
    color: var(--bulma-success-color);
}

#main #about .box {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    margin: 30px 0;
}

#main #about .box .item {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 220px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 56px -8px rgb(0 0 0 / 17%);
    -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 56px -8px rgb(0 0 0 / 17%);
    color: var(--bulma-primary-color);
    border-bottom: 2px solid var(--bulma-primary-color);
    cursor: pointer;
}

#main #about .box .item:hover, #main #about .box .item.active {
    -webkit-box-shadow: 0px 0px 56px -8px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.50);
    -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.50);
    -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 56px -8px rgb(0 0 0 / 50%);
}

#main #about .box .item .icon {
    font-size: 5rem;
    margin: 3rem 1rem;
    font-weight: 300;
}

#main #about .box .item .name {
    display: block;
    font-size: 1.6rem;
    margin: 2rem 1rem;
    color: var(--text-color);
}

#main #about .hire {
    background-color: var(--bulma-primary-color);
    padding: 1.5rem;
    margin: 30px 0;
}

#main #about .hire p {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 300;
}

#main #about .project {
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main #about .project .item {
    cursor: pointer;
    display: flex;
    width: 48%;
    margin: 10px 0;
    border: 1px solid var(--bulma-success-color);
}

#main #about .project .item:hover {
    -webkit-box-shadow: 0px 0px 56px -8px rgb(0 0 0 / 17%);
    -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 56px -8px rgb(0 0 0 / 17%);
}

#main #about .project .item .image img {
    width: 120px;
    height: 100%;
    object-fit: cover;
}

#main #about .project .item .desc {
    margin-left: 10px;
}

#main #about .project .item .desc h3 {
    font-size: 1.6rem;
}


#main #about .project .item .desc h3 a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

#main #about .project .item .desc p {
    font-size: 1.2rem;
}

#main #about, #main #skills, #main #work-experience, #main #education, #main #contact {
    margin: 5rem 0;
}

#main #skills .info {
    margin-bottom: 3rem;
}

#main #skills .progress .progress-chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main #skills .progress .title {
    font-weight: 300;
    margin-top: 3rem;
    text-align: center;
}

#main #skills .progress .progress-circle {
    text-align: center;
    width: 180px;
    margin: 3rem auto;
}

#main #skills .progress .progress-circle .chart {
    position: relative;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

#main #skills .progress .progress-circle .chart span{
    line-height: 180px;
}

#main #skills .progress .progress-circle .chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#main #skills .progress .progress-circle .name-skill {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0;
}

#main #skills .progress .progress-circle .level {
    margin: 1rem 0;
}

#main #skills .progress .progress-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2rem 0;
}

#main #skills .progress .progress-wrap .percent {
    position: absolute;
    bottom: 8px;
    left: var(--percent);
    color: var(--bulma-primary-color);
}

#main #skills .progress .progress-wrap .progress-bar {
    height: 8px;
    background-color: var(--bulma-primary-color);
    width: var(--percent);
    border-radius: 5px;
    z-index: 1;
}

#main #skills .progress .progress-wrap::after {
    content: '';
    position: absolute;
    height: 8px;
    width: 100%;
    background-color: var(--bulma-light-color);
    bottom: 0;
}

#time-line {
    position: relative;
}

#time-line::before {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    background: var(--bulma-warning-color);
    top: 20px;
    bottom: 20px;
    margin-left: 30px;
}

#time-line .time-line-entry {
    margin: 10px;
    margin-left: 65px;
    padding: 30px;
    padding-top: 10px;
    background-color: var(--bulma-primary-color);
    position: relative;
}

#time-line .time-line-start {
    background-color: none;
    margin: 10px;
    margin-left: 65px;
    padding: 30px;
    position: relative;
}

#time-line.time-line--primary .time-line-icon {
    position: absolute;
    left: -50px;
    top: 0;
    color: var(--bulma-light-color);
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 50%;
        -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    background-color: var(--bulma-info-color);
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
}

#time-line .time-line-start .time-line-icon {
    background-color: var(--bulma-danger-color);
}

#time-line .time-line-content h2 a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 400;
}

#time-line .time-line-content h2 span {
    font-size: 1.6rem;
    font-weight: 300;
    opacity: .5;

    margin-left: 2rem;
}

#time-line .time-line-content p strong {
    font-size: 1.4rem;
    font-weight: 400;
}

#time-line .time-line-content p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

#main .contact .info {
    margin-bottom: 3rem;
}

#main .contact .content {
    display: flex;
    flex-direction: column;
}

#main .contact .content p {
    line-height: 2.2rem
}

#main .contact .content p a {
    text-decoration: none;
    color: var(--bulma-primary-color);
}

#main .contact .content .social-list {
    display: flex;
    padding: 0;
}

#main .contact .content .social-list li {
    list-style-type: none;
    font-size: 3rem;
    margin-right: 2rem;
}

#main .contact .content .social-list li a i {
    color: var(--gray-color);
}

#main .contact .content .social-list li a i:hover {
    color: var(--bulma-primary-color);
}

@media (max-width: 1024px) {
    #main #about .box .item {
        width: 100%;;
    }

    #main #about .project .item {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #aside {
        display: none;
    }

    #aside-toggle, .toggle-icon {
        display: block;
    }

    #main {
        padding: 5rem;
    }
}   